/containerdata/
# py
__pycache__/
.venv/
# node
node_modules/
# secret
.env
# tmp dir
/tmp/
/tests/tmp/
# build
build/
dist/
*.egg-info/
# coverage
.coverage
htmlcov/
coverage.xml
junit.xml
# tox
.tox/
# sphinx
docs/build/
docs/**/*.mo
# JetBrains
.idea/
# vscode
.vscode/
# macOS
.DS_Store
